**/.vagrant
**/.vscode

*.vagrant
*.vscode

**/setup/
**/ca/
**/bin/
**/docker
**/gopath/src/example
**/crypto-config
**/gopath/.cache/
**/gopath/src/fabcar
**/gopath/src/cross-payment/ExampleTests
**/gopath/src/couch-sample
**/gopath/src/vendor
**/nodechaincode/
**/artefacts/
**/fabric-samples/
**/k8s/

*.block
*.tx