**/.vagrant
**/.vscode

*.vagrant
*.vscode

**/setup
**/ca
**/bin
**/docker
**/crypto-config
**/gopath/.cache
**/gopath/src/fabcar
**/gopath/src/cross-payment/ExampleTests
**/gopath/src/couch-sample
**/gopath/src/vendor
**/nodechaincode
**/artefacts
**/fabric-samples/
**/k8s

**/test-net/*.json
**/test-net/*.cpp
**/test-net/*.tx
**/test-net/crypto-config
**/test-net/org3-artifacts/crypto-config
**/test-net/*.block

*.block
*.tx
